{% extends 'base.html' %}
{% load leaflet_tags %}
{% load i18n %}
{% block title %}{% trans "Geo Tags" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Geo Tags") %}
    <script src='{{ STATIC_URL }}horizon/js/springy.js' type='text/javascript'
            charset="utf-8" xmlns="http://www.w3.org/1999/html"></script>
  <script src='{{ STATIC_URL }}horizon/js/springyui.js' type='text/javascript' charset="utf-8"></script>

{% endblock page_header %}


{% block main %}


<div class="row">
    <div class="span10">
    <canvas id="topology" width="750" height="800" style="border: 1px solid black;">
    </canvas>
    </div >
    <div class="span4">
        <h3>Current Path</h3>
        <table class="table">
                <tr>
                    <th>Datacenter</th>
                    <td id="dc"></td>
                </tr>
                <tr>
                    <th>Room</th>
                    <td id="room"></td>
                </tr>
                <tr>
                    <th>Row</th>
                    <td id="row"></td>
                </tr>
                <tr>
                    <th>Rack</th>
                    <td id="rack"></td>
                </tr>
                <tr>
                    <th>Slot</th>
                    <td id="slot"></td>
                </tr>
        </table>

        <h3>Data Center Total Capacity</h3>
        <br/>
        <table class="table table-bordered">
                <tr>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <th>Total Storage Nodes</th>
                    <td id="total_compute"></td>
                </tr>
                <tr>
                    <th>Total Compute Nodes</th>
                    <td id="total_capacity"></td>
                </tr>
		<tr>
                    <th>Used vCPU's</th>
                    <td id="used_vcpus"></td>
                </tr>
	<tr>
                    <th>Total Memory (MB)</th>
                    <td id="total_memory"></td>
                </tr>
		<tr>
                    <th>Used Memory (MB)</th>
                    <td id="used_memory"></td>
                </tr>

		<tr>
                    <th>Running VM's</th>
                    <td id="running_vms"></td>
                </tr>
        </table>
</div>
</div>


<script>

var data = {{topology_data|safe}}

var graph = new Springy.Graph();

function randRGB() {
  return Math.floor(Math.random()*16777215).toString(16);
  }


var cnode = '/static/dashboard/img/server-gray.svg'
var snode = '/static/dashboard/img/db-gray.svg'
var rack_img = '/static/dashboard/img/rack.jpg';
var row_img = '/static/dashboard/img/row.jpg';
var slot_img = '/static/dashboard/img/slot.png';
var room_img = '/static/dashboard/img/room.jpg';
var dcenter = '/static/dashboard/img/datacenter.png';

var root_node = graph.newNode({label: 'Data Center #' + data.dc_number,  
                               image: {src: dcenter, width:80, height: 80},
                               capacity: 'Compute Nodes: ' + data.total_compute + '<br>' + 
			                 'Storage Nodes: ' + data.total_storage
			     })

/* a map here may be better, for poc just iterated as it's */
$("#total_compute").text(data.total_compute)
$("#total_capacity").text(data.total_storage)
$("#dc").text(data.dc_number)
$("#room").text(data.room_number)
$("#row").text(data.row_number)
$("#rack").text(data.rack_number)
$("#slot").text(data.slot_number)

//$("#total_vcpus").text(data.compute_capacity.total_vcpus);
$("#used_vcpus").text(data.compute_capacity.used_vcpus);
$("#total_memory").text(data.compute_capacity.total_memory + ' MB');
$("#used_memory").text(data.compute_capacity.used_memory + ' MB');
$("#running_vms").text(data.compute_capacity.running_vms);


$.each(data.topology, function(room, row) {
     var roomNode = graph.newNode({label: 'Room #' + room, image: {src: room_img, width: 80, height:80}});
    const currentPathWidth = 1;
     var width = (room == data.room_number) ? currentPathWidth : 1;
    graph.newEdge(root_node, roomNode, {color: '#3300FF', weight: 5});
     $.each( row, function(row, rack) {
         var rowNode = graph.newNode({
             label: 'Row #' + row,
             image: {src: row_img, width: 80, height:80}
         })
     var width = (row == data.row_number) ? currentPathWidth : 1;
	 graph.newEdge(roomNode, rowNode, {color: '#3366FF', weight: 4})

	 $.each( rack, function(rack, slots) {
              var rackNode = graph.newNode({label: 'Rack #' + rack, image: {src: rack_img, width: 80, height:80}})
	      
          var width = (rack == data.rack_number) ? currentPathWidth : 1;
	      graph.newEdge(rowNode, rackNode,  {color: '#3399FF', weight: 3});
	     
	      $.each( slots, function(slot, services) {
	          var slotNode = graph.newNode({label: 'Slot #' + slot, image: {src: slot_img, width: 80, height:20} })

              var width = (slot == data.slot_number) ? currentPathWidth : 1;
		  graph.newEdge(rackNode, slotNode, {color: '#33CCFF', weight: 2});
		  
	          $.each(services, function(idx, nodes)  {
	            for(var i=0; i < nodes.length; i++) {
		        obj = nodes[i]
		        if( idx == 'compute') 
		            img = cnode
			else
			    img = snode
			  
			info = 'ss';
			//info = obj.hyper_info.cpu_info.vendor + '|' + obj.hyper_info.cpu_info.model +
                        //       + '|' + obj.hyper_info.cpu_info.arch;



			var  nd  = graph.newNode({
                                 label: obj.name + '====' + info,
				 image: {src: img, width: 40, height:40},
				 data: obj
				 })

			graph.newEdge(slotNode, nd, {color: '#33FFFF', weight: 1});
		     
		    }
		    
		 })
	     })
	      })
         })
   
 })
  

$('#topology').springy(
  {
    graph: graph,
    nodeSelected: function(node) {
          console.log(node.data);
          $('#pop').popover('show')
    }
  }
  
);

$("#pop").popover({content:'hello world', selector: '#topology', placement:'right', trigger:'manual', title:"popover", container:'body'})

/*
jQuery(function(){
  var springy = window.springy = jQuery('#toplogy').springy({
      graph: graph,
          nodeSelected: function(node){
	        console.log('Node selected: ' + JSON.stringify(node.data));
		    },

			  });
			  });
*/
</script>

{% endblock %}
