{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Geo Tags" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Geo Tags") %}
   
  <script src='{{ STATIC_URL }}horizon/js/Jit/jit.js' type='text/javascript' charset="utf-8"></script>
    <script src='{{ STATIC_URL }}horizon/js/horizon.geotags.js' type='text/javascript' charset="utf-8"></script>
<style>
 #containers { 
    width: auto;
height: 960px;
 }
 .dcenter-tip {
    background: #000;
    color: #fff;
 }
</style>
{% endblock page_header %}


{% block main %}

    <div id="containers" ></div>
<div class="row">
    <div class="span10">
    </div >
    <div class="span4">
        <h3>Resource: </h3>
        <table class="table">
                <tr>
                    <th>Datacenter</th>
                    <td id="dc"></td>
                </tr>
                <tr>
                    <th>Room</th>
                    <td id="room"></td>
                </tr>
                <tr>
                    <th>Row</th>
                    <td id="row"></td>
                </tr>
                <tr>
                    <th>Rack</th>
                    <td id="rack"></td>
                </tr>
                <tr>
                    <th>Slot</th>
                    <td id="slot"></td>
                </tr>
        </table>

        <h3>Data Center Total Capacity</h3>
        <br/>
        <table class="table table-bordered">
                <tr>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <th>Total Storage Nodes</th>
                    <td id="total_compute"></td>
                </tr>
                <tr>
                    <th>Total Compute Nodes</th>
                    <td id="total_capacity"></td>
                </tr>
		<tr>
                    <th>Used vCPU's</th>
                    <td id="used_vcpus"></td>
                </tr>
	<tr>
                    <th>Total Memory (MB)</th>
                    <td id="total_memory"></td>
                </tr>
		<tr>
                    <th>Used Memory (MB)</th>
                    <td id="used_memory"></td>
                </tr>

		<tr>
                    <th>Running VM's</th>
                    <td id="running_vms"></td>
                </tr>
        </table>
</div>
</div>


<script>
var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType =  (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);
})();


var data = {{topology_data|safe}};


/* a map here may be better, for poc just iterated as it's */

$("#total_compute").text(data.total_compute + " nodes")
$("#total_capacity").text(data.total_storage + " nodes")
$("#dc").text(data.dc_number)
$("#room").text(data.room_number)
$("#row").text(data.row_number)
$("#rack").text(data.rack_number)
$("#slot").text(data.slot_number)

//$("#total_vcpus").text(data.compute_capacity.total_vcpus);
$("#used_vcpus").text(data.compute_capacity.used_vcpus);
$("#total_memory").text(data.compute_capacity.total_memory + ' MB');
$("#used_memory").text(data.compute_capacity.used_memory + ' MB');
$("#running_vms").text(data.compute_capacity.running_vms);


jit_data = horizon.geotags.create_dc_topology(data);

var fd = new $jit.ForceDirected({  
  //id of the visualization container  
  injectInto: 'containers',  
  //Enable zooming and panning  
  //by scrolling and DnD  
  Navigation: {  
    enable: true,  
    //Enable panning events only if we're dragging the empty  
    //canvas (and not a node).  
    panning: 'avoid nodes',  
    zooming: 20 //zoom speed. higher is more sensible  
    },  
    // Change node and edge styles such as  
    // color and width.  
    // These properties are also set per node  
    // with dollar prefixed data-properties in the  
    // JSON structure.  
    Node: {  
    overridable: true  , 
    },  
    NodeStyles: {  
       enable: true,  
       type: 'Native',  
         stylesHover: {  
	     dim: 65,  
	     color: '#000'  
	 },
	 stylesClick: {  
	     dim: 65,  
	     color: '#000'  
	 },
			
    }  ,
    Edge: {  
    overridable: true,  
    color: '#23A4FF',  
    lineWidth: 0.8  
    },  
    //Native canvas text styling  
    Label: {  
    type: labelType, //Native or HTML  
    size: 12,  
    style: 'bold',
    color: '#fff',
    },  
 
  
   Tips: { 
      enable: true, 
      onShow: function(tip, node) { 
        
	 tip.innerHTML = "<div class=\"dcenter-tip\"><div class=\"tip-title\">" + node.name + "</div>" 
                         + "<div class=\"tip-text\"><b>" + node.data.info + "</b></div></div>";
	       }
      }, 
  
  // Add node events  
  Events: {  
    enable: true,  
    type: 'Native',  
    //Change cursor style when hovering a node  
    onMouseEnter: function() {  
      fd.canvas.getElement().style.cursor = 'move';  
    },  
    onMouseLeave: function() {  
      fd.canvas.getElement().style.cursor = '';  
    },  
    //Update node positions when dragged  
    onDragMove: function(node, eventInfo, e) {  
        var pos = eventInfo.getPos();  
        node.pos.setc(pos.x, pos.y);  
        fd.plot();  
    },  
    //Implement the same handler for touchscreens  
    onTouchMove: function(node, eventInfo, e) {  
      $jit.util.event.stop(e); //stop default touchmove event  
      this.onDragMove(node, eventInfo, e);  
    },
    
       //Add also a click handler to nodes  
    onClick: function(node) {  
    
           if(!node) return;  
           //$jit.id('inner-details').innerHTML = html ;  
           
    }  
  },  
  //Number of iterations for the FD algorithm  
  iterations: 200,  
  //Edge length  
  levelDistance: 95,  
  // Add text to the labels. This method is only triggered  
  // on label creation and only for DOM labels (not native canvas ones).  
  onCreateLabel: function(domElement, node){  
    domElement.innerHTML = node.name;  
    var style = domElement.style;  
    style.fontSize = "1.0em";  
    style.color = "#000";  
  },  
  // Change node styles when DOM labels are placed  
  // or moved.  
  onPlaceLabel: function(domElement, node){  
    var style = domElement.style;  
    var left = parseInt(style.left);  
    var top = parseInt(style.top);  
    var w = domElement.offsetWidth;  
    style.left = (left - w / 2) + 'px';  
    style.top = (top + 10) + 'px';  
    style.display = '';  
  }  
});  

// load JSON data.  


fd.loadJSON(jit_data);

// compute positions incrementally and animate.  
fd.computeIncremental({  
  iter: 60,  
  property: 'end',  
  onStep: function(perc){  
    
  },  
  onComplete: function(){  
     node = fd.graph.getNode(horizon.geotags.selected_node.id);
     //hack method, do not exists on vanilla lib
     fd.controller.NodeStyles.override_click.toggleStylesOnClick(node, true)    
    fd.animate({  
      modes: ['linear'],  
      // transition: $jit.Trans.Elastic.easeOut,  
      duration: 2500  
      
    }); 
  
    
  }  
});


horizon.geotags.set_status(true);
</script>

{% endblock %}
