{% extends 'base.html' %}
{% load leaflet_tags %}
{% load i18n %}
{% block title %}{% trans "Geo Tags" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Geo Tags") %}
{% endblock page_header %}



{% block main %}
  <div id="geotags">
      {% leaflet_map "inventorymap"  callback="main_map_init" %}
      {{ table.render }}
  </div>

 <script>
    var points = {{ points|safe }}
    function main_map_init (map, options) {
        points.forEach(function(item) {
            if (item.latitude && item.longitude){
            L.marker([item.latitude, item.longitude]).addTo(map)
                .bindPopup('A node server: <br> ' + item.name)
                .openPopup();
            }
        });
    }
 </script>

{% endblock %}
