{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Audit Trail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Audit Trails") %}
  <script src='{{ STATIC_URL }}horizon/js/horizon.audit_trails.js' type='text/javascript' charset="utf-8"></script>

{% endblock page_header %}



{% block main %}
 <form id='audit_trail' action={% url "horizon:admin:audit_trails:report" %} method="GET">
      {{ daily_form.as_p }}
 <input type="submit" value="Submit" />
 </form>
 

{% endblock %}




