<noscript><h3>{{ step }}</h3></noscript>
<table class="table-fixed">
  <tbody>
    <tr>
      <td class="actions">
          {% include "horizon/common/_form_fields.html" %}
      </td>
      <td class="help_text">
          {{ step.get_help_text }}
      </td>
    </tr>
  </tbody>
</table>
<script>
    
    var locations = JSON.parse('{{form.context.locations|safe}}');
    /*$("#id_datacenter").closest(".control-group").hide();
    $("#id_room").closest(".control-group").hide();
    $("#id_row").closest(".control-group").hide();
    $("#id_rack").closest(".control-group").hide();
    $("#id_slot").closest(".control-group").hide();
*/
    $("#id_datacenter").html("");
    $("#id_room").html("");
    $("#id_row").html("");
    $("#id_rack").html("");
    $("#id_slot").html("");

    mapita = {};
    mapita["US"] = [];
    mapita["UK"] = [];
    var us;
    var uk;

    for(var i=0; i<locations.length; i++){
        if(locations[i].split('-')[0] =="1"){
           us = mapita["US"];
           us[us.length] = locations[i];
           mapita["US"] = us;
        } else{
           uk = mapita["UK"];
           uk[uk.length] = locations[i];
           mapita["UK"] = uk;
        }
    }
 
    function get_current_valid_places() {
         selects = ['#id_datacenter', '#id_room', '#id_row', '#id_rack', '#id_slot']
         valid_string = ''
         for( i=0; i <selects.length; i++ )
         {
                 cval = $(selects[i]).val()
                 if( !cval ) {
                    return valid_string;
                }
                valid_string += cval + '-'
            }
            return valid_string
        }

        function fill_selects(list_str_to_split, start_from) {
            empty = '<option value="">---</option>'
            var full_html = { '0':  {'vals': [], 'html': [empty]}, 
                          '1': {'vals': [], 'html': [empty]},
                          '2': {'vals': [], 'html': [empty]},
                          '3': {'vals':[], 'html': [empty] },
                          '4': {'vals': [], 'html': [empty] } }

         for( var val in list_str_to_split ) {
             numbers = list_str_to_split[val].split('-')
             for( x in  numbers ) {
	     
                if( full_html[x].vals.indexOf(numbers[x]) == -1) {
		    full_html[x].vals.push(numbers[x])
                    full_html[x].html.push("<option value='" + numbers[x] + "'>" + numbers[x] + "</option>")
                }
            }
        }
	    to_fill = ["id_datacenter", 'id_room', 'id_row', 'id_rack', 'id_slot']
	    for(x  in to_fill ) {
	      if( x >= start_from ) {
	         $("#" + to_fill[x]).html( full_html[x].html.join(" "))
	      }
	    }
	    

        }

    
    function change_data(item_changed, pos,  to_load, to_hide) {
        value = $(item_changed).val();
       

        if( to_hide ) {
          for( var val in to_hide) {
               $(to_hide[val]).html("");
               $(to_hide[val]).closest(".control-group").hide();
          }
        }
	if( to_load ) {
          for( var val in to_load) {
               $(to_load[val]).html("");
	       if( !value ) {
                  $(to_load[val]).closest(".control-group").hide();
	       }
	       else {
	          $(to_load[val]).closest(".control-group").show();
		  }
	  }

       }
      

      $(item_changed).closest(".control-group").show();
       zone = $("#id_availability_zone").val()
        console.log('Zona: ' +zone)
       current_map = mapita[zone]
       console.log(current_map)
       valid_places = get_current_valid_places()
       select_values = []
       for(i=0; i < current_map.length; i++ ) {
           available = current_map[i];
           console.log(available + '  valid ' + valid_places)
            if( valid_places === '' || available.indexOf(valid_places) != -1 ) {
                select_values.push( available )
            }
        }
        console.log("SELECt VaLueS: ", select_values)
        console.log(valid_places);
       //or use js options... that's why there a functiont here, to change it
       fill_selects(select_values, pos)
     
       console.log(valid_places)

   }



    $(document).on('change', '.workflow #id_availability_zone', function (evt) {
            change_data(this, 0, ['#id_datacenter'], ['#id_room','#id_row', '#id_rack', '#id_slot']);
        });

    $(document).on('change', '.workflow #id_datacenter', function (evt) {
            change_data(this, 1, ['#id_room'], ['#id_row', '#id_rack', '#id_slot']);
        });


    $(document).on('change', '.workflow #id_room', function (evt) {
            change_data(this, 2, ['#id_row'], ['#id_rack', '#id_slot']);
        });
    $(document).on('change', '.workflow #id_row', function (evt) {
            change_data(this, 3, ['#id_rack'], ['#id_slot']);
        });
    $(document).on('change', '.workflow #id_rack', function (evt) {
            change_data(this, 4, ['#id_slot']);
        });
    $(document).on('change', '.workflow #id_slot', function (evt) {
            change_data(this, 5 );
        });

</script>


